body {
    font-family: Calibri;
}
/*--- login page css ---*/
.loginFormContainer{
    padding: 1% !important;
    margin-bottom: 3.5%;
}
.loginForm{
    background-color: lightgray;
    padding: 0%;
}
.loginFormMainBody{
    padding: 0px;
}
.loginFormMainBody h2{
    color: #039FDA;
}
.loginFormHeader{
    background-color: #039FDA;
    padding: 1.5%;
}
.loginFormMainBodyLeft{
    background-color: lightgray;
    padding-bottom: 2%;
}
.loginFormMainBodyRight{
    padding-bottom: 2%;
}