body {
    font-family: Calibri;
}
/*--- login page css ---*/
.loginFormContainer {
    padding: 1% !important;
    margin-top: 3%;
    margin-bottom: 3.5%;
}

.loginForm {
    background-color: lightgray;
    padding: 0%;
}

.loginFormMainBody {
    padding: 0px;
}

    .loginFormMainBody h2 {
        color: #039FDA;
    }

.loginFormHeader {
    background-color: #039FDA;
    padding: 1.5%;
}

.loginFormMainBodyLeft {
    background-color: lightgray;
    padding-bottom: 2%;
}

.loginFormMainBodyRight {
    padding-bottom: 2%;
}

/*--- manager_home css ---*/
.managerOptionDivContainer{
    margin-top: 10% !important;
}
.managerOptionDivHolder {
    background-color: lightgray;
    padding: 0px !important;
    border-radius: 5px;
    height: 250px !important;
}

.managerOptionDivHeader {
    padding: 3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #039FDA;
}
.managerOptionDivHolder{
    text-align: center;
}
.managerOptionDivHeader:hover{
    background-color: #0466BF;
}
.managerOptionDivDesc{
    padding-top: 10% !important;
}
.managerOptionDivHolder i{
    font-size: 2.5em !important;
    margin-top: 6%;
}
.managerOptionDivHolder i:hover{
    cursor: pointer;
    color: #039FDA;
}

/*--- Create_Employee css ---*/
.createEmployeeMainContainer{
    margin-bottom: 5%;
}
.createEmpContainer{

}
.createEmpContainerInner{
    background-color:lightgray !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding: 0.5%;
    width: 50%;
}
.createEmpContainerInnerHeader{
    background-color: #039FDA;
    padding: 1%;
    width: 49.2%;
    margin-top: 5%;
    margin-left: 25.4%;
}
.btn-manager{
    float: right;
    margin-right: 6%;
}

/*--- edit_employee css ---*/
.editEmpContainer{
    margin-bottom: 5% !important;
}

/*--- registration form css ---*/
.registrationForm{
    background-color: lightgray;
    padding: 0px;
    padding-bottom: 2%;
    margin-top: 5%;
}
.registrationFormHeader{
    background-color: #039FDA;
}
.btnRegister{
    float: right;
    margin-right: 1.2%;
    margin-top: 2%;
}